{% extends "blog/base.html" %}
{% load staticfiles %}  
{% block content %}
<!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'img/avatar.png' %}" class="" alt="User Image" height="300" width="300">
        </div>
        <div class="col-md-8">
            <h2>About </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
            <a href="{% url 'contact' %}" >Contact Me </a>
        </div>
    </div>
{% endblock %}
