{% extends "blog/base.html" %}

{% load add_class_tag %}

{% block content %}
<div class="col-md-12">
    {% if form_error %}
    <div class="alert alert-danger" role="alert">The tag name must be unique</div>
    {% endif %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            {% if user.is_authenticated %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.name }}</td>
            {% if user.is_authenticated %}
            <td>
                <a class="btn btn-default" href="{% url 'remove_tag' pk=tag.pk %}"
                   onclick="return confirm('Are you sure?');">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a class="btn btn-default" data-toggle="modal" data-target="#editTag{{tag.pk}}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <!-- Edit Modal -->
                <div id="editTag{{tag.pk}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add tag</h4>
                            </div>
                            <div class="modal-body">
                                <form method="POST" class="tags-form" action="{% url 'edit_tag' pk=tag.pk %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.name.label_tag }}
                                        <input type="text" name="name" maxlength="64" class="form-control" required
                                               id="id_name" value="{{ tag.name }}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="save btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" data-toggle="modal" data-target="#addTag"><i class="fa fa-plus"></i> Add tag</a>
    <!-- Add Modal -->
    <div id="addTag" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add tag</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" class="tags-form" action="{% url 'tags' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.name.label_tag }}
                            {{ form.name | addclass:"form-control" }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="save btn btn-primary">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <br/><br/>
</div>
{% endblock %}
